#side-bar {
  background: #3f3d56;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.4s;
  height: 100vh;
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;

    div {
      width: 100%;
    }
    li {
      width: 100%;
      min-height: 70px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: 0.4s;
      padding: 15px;
    }
    #li-color {
      background: #53516f;
    }
    #fill-drawNavigation {
      display: flex;
      height: 73%;
    }
    li.open {
      #liDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 35px;
        color: #fff;
        transition: 0.4s;
        text-align: center;
      }
      h3 {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #fff;
        transition: 0.4s;
        padding-left: 25px;
      }
      h4 {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #fff;
        transition: 0.4s;
      }
    }

    li.close {
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 0px;
      }
      h3 {
        font-size: 0px;
      }
      h4 {
        font-size: 0px;
      }
      #liDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    #iconStyle {
      fill: #fff;
    }
    li#fill-drawNavigation:hover {
      background: #3f3d56;
      cursor: default;
    }
    li:hover {
      background: #474658;
    }
  }
}
div.open {
  width: 300px;
}
div.close {
  width: 80px;
}
