#project-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  #panel-container {
    background-color: #ebeaea;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    overflow-y: scroll;
    #panel-title {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      color: #000;
      text-align: center;
      padding: 15px;
    }
  }
  #panel-container::-webkit-scrollbar {
    display: none;
  }
  #header-title {
    padding-top: 3px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
}
