#project-container {
  background-color: #fff;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  #panel-container {
    background-color: #ebeaea;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 15px;
    overflow-y: scroll;
    #panel-title {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      color: #000;
      text-align: center;
      padding: 15px;
      padding-top: 5px;
    }
    .icon-arrow-back {
      display: flex;
      margin: 10px;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
    }
    .icon-arrow-back:hover {
      background-color: #979696;
    }
  }
  #panel-container::-webkit-scrollbar {
    display: none;
  }
}
