#container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 15px;
}
div.large {
  height: 165px;
}
div.small {
  height: 120px;
}

#container-box:hover {
  background-color: #bbbbbb;
}
